body {
    background-color: #0E0E10;
    font-family: 'Inter', sans-serif;
}

h1 {
    color: #EDEDED;
    font-size: 2.5rem;
}

h3 {
    color: #8E44FF;
    line-height: 1.4;
    font-weight: 300;
}

h1, h3, a {
    margin-bottom: 20px;
}

.hero-section {
    display: flex;
    justify-content: center;
    background-color: #1F1F23;
    margin: 10px 0px;
    padding: 2rem;
    align-items: center;
}

.profile-photo {
    width: 100%;
    max-width: 250px;
    max-height: 350px;
    object-fit: cover;
    border-radius: 15%;
    margin: 0 50px;
}

.nav {
    display: flex;
    gap: 1rem;
}

.nav a {
    background-color: #8E44FF;
    text-decoration: none;
    color: #0E0E10;
    border-radius: 0.5rem;
    padding: 5px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-section a:hover {
    background-color: #D6A2FF;
    transform: scale(1.05);
}